* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: #34393F;
    border-radius: 30px;
    width: 500px;
    margin: 0 auto;

    .bio {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 10px 50px;

        .name {
            .first-name {
                font-size: 1.5em;
                color: rgb(160, 163, 167);
                text-align: center;
            }

            .last-name {
                font-size: 2.5em;
            }
        }

        .pos, .bats-throws {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #212429;
            padding: 10px;
            font-weight: bold;
            text-align: center;
            box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, .2);
        }
    }

    .bio-separator {
        width: 20%;
        margin: 0 auto;
        height: 5px;
        background-color: #212429;
        border-radius: 10px;
    }

    .contact {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;

        .vs-left, .vs-right {
            position: relative;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .rating-con-vsl, .rating-con-vsr, .rating-track-vsl, .rating-track-vsr {
                transform: rotate(110deg);
                transform-origin: 50% 50%;
            }

            .rating-track-pow-vsl, .rating-pow-vsl, .rating-track-pow-vsr, .rating-pow-vsr {
                transform: rotate(250deg) scale(-1,1);
                transform-origin: 50% 50%;
            }

            .vs-left-contact, .vs-right-contact {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                color: white;
                font-size: 1.25em;
            }
        }
        .vs-left-name, .vs-right-name {
            position: absolute;
            color: white;
            font-weight: bold;
            font-size: 1em;
            bottom: 1px;
        }
    }
    .other-ratings {
        color: white;
        width: 60%;
        margin: 0 auto;

        .speed-rating {
            text-align: center;

            .rating-numbers {
                display: flex;
                flex-direction: column; // used to correct the behavior of svg elements where it adds spaces between elements
                padding-bottom: 5px;

                ul {
                    display: flex;
                    justify-content: center;
                    list-style: none;

                    li {
                        padding: .5em 1em 0 1em;
                        font-size: .75em;
                    }
                }

            }
        }
    }
}
