* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.card {
  background-color: #34393F;
  border-radius: 30px;
  width: 500px;
  margin: 0 auto;
}

.card .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 10px 50px;
}

.card .bio .name .first-name {
  font-size: 1.5em;
  color: #a0a3a7;
  text-align: center;
}

.card .bio .name .last-name {
  font-size: 2.5em;
}

.card .bio .pos, .card .bio .bats-throws {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212429;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.2);
}

.card .bio-separator {
  width: 20%;
  margin: 0 auto;
  height: 5px;
  background-color: #212429;
  border-radius: 10px;
}

.card .contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .contact .vs-left, .card .contact .vs-right {
  position: relative;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .contact .vs-left .rating-con-vsl, .card .contact .vs-left .rating-con-vsr, .card .contact .vs-left .rating-track-vsl, .card .contact .vs-left .rating-track-vsr, .card .contact .vs-right .rating-con-vsl, .card .contact .vs-right .rating-con-vsr, .card .contact .vs-right .rating-track-vsl, .card .contact .vs-right .rating-track-vsr {
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.card .contact .vs-left .rating-track-pow-vsl, .card .contact .vs-left .rating-pow-vsl, .card .contact .vs-left .rating-track-pow-vsr, .card .contact .vs-left .rating-pow-vsr, .card .contact .vs-right .rating-track-pow-vsl, .card .contact .vs-right .rating-pow-vsl, .card .contact .vs-right .rating-track-pow-vsr, .card .contact .vs-right .rating-pow-vsr {
  -webkit-transform: rotate(250deg) scale(-1, 1);
          transform: rotate(250deg) scale(-1, 1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.card .contact .vs-left .vs-left-contact, .card .contact .vs-left .vs-right-contact, .card .contact .vs-right .vs-left-contact, .card .contact .vs-right .vs-right-contact {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  color: white;
  font-size: 1.25em;
  font-family: Sans-serif;
}

.card .contact .vs-left-name, .card .contact .vs-right-name {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 1em;
  font-family: sans-serif;
  bottom: 1px;
}
/*# sourceMappingURL=styles.css.map */